<?xml version="1.0" encoding="UTF-8"?>
<configuration status="FATAL">
    <appenders>
        <File name="search" fileName="logs/search.log" immediateFlush="true">
            <MarkerFilter marker="SEARCH" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="errors" fileName="logs/input_errors.log" immediateFlush="true">
            <MarkerFilter marker="ERRORS" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="debugs" fileName="logs/exceptions.log" immediateFlush="true">
            <MarkerFilter marker="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="search"/>
            <appender-ref ref="errors"/>
            <appender-ref ref="debugs"/>
        </root>
    </loggers>
</configuration>